
.banner {
    position: relative;
    min-height: 100vh;
}

.banner__media {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.banner__img {
    height: 100%;
    width: 100%;
}

.banner__caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner__content {
    padding: 15px; 
    margin-bottom: 15px;
}