footer {
    background-color: var(--color-quaternary);
    color: var(--white);
    padding: calc(var(--gutter-size) * 2) 0;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo {
    height: 175px;
    padding: 15px 15px 15px 0;
}

.footer__social {
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.footer__social .social {
    margin-right: 15px;
    padding: 0;
}

.footer__social .social i {
    font-size: 2.2rem;
    padding: 15px;
}

.footer__menu {
    padding: 30px 0;
}

.footer__menu-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.footer__menu-link{
    padding: 7.5px 0;
    transition: ease-in-out 300ms;
}

.footer__menu-item:not(:last-of-type) {
    margin-bottom: 30px;
}

/* Small devices (portrait tablets and large phones, 600px) */
@media only screen and (min-width: 37.5em) {

}

/* Medium devices (landscape tablets, 768px) */
@media only screen and (min-width: 48em) {
    .footer__logo {
        height: 250px;
    }
}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (min-width: 62em) {
    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .footer__menu {
        padding: 30px 0;
    }

    .footer__menu-list {
        justify-content: center;
        flex-direction: row;
    }

    .footer__menu-link{
        padding: 5px 7.5px;
    }

    .footer__menu-item:not(:last-of-type) {
        margin-bottom: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px) */
@media only screen and (min-width: 75em) {

}