@import "menu.css";
@import "container.css";
@import "typography.css";
@import "product.css";
@import "card.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --menu-height: 80px;
}

header {
    background-color: crimson;
    padding-top: 4rem;
}