
.menu {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: var(--menu-height);
}

.menu__nav {
    background-color: #b3ff00;
}

.menu__logo {
    height: var(--menu-height);
}

.menu__logo img {
    height: var(--menu-height);
}

.menu__list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.menu__list-item {
    display: block;
    height: 100%;
}

.menu__list-link {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding: 5px 15px;
}


.footer__menu {
    background-color: #b3ff00;
    padding: 30px 0;
}

.footer__menu-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer__menu-link{
    padding: 0 7.5px;
}