
.menu {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: var(--menu-height);
}

.menu__nav {
    background-color: var(--color-quaternary);
}

.menu__logo {
    height: var(--menu-height);
}

.menu__logo img {
    height: var(--menu-height);
}

.menu__list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.menu__list-item {
    display: block;
    height: 100%;
}

.menu__list-link {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding: 5px 15px;
    
}