:root{
    --default-font: "Roboto", sans-serif;
    --default-heading-font: "Arvo", sans-serif;
    --default-font-size: 1.6rem;
}

h1,h2,h3 {
    font-family: var(--default-heading-font);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
}

p, a, b, i, strong, em, li {
    font-size: var(--default-font-size);
    font-family: var(--default-font);
}

a {
    color: inherit;
    text-decoration: none;
}